In [1]:
import pandas as pd
from io import StringIO

In [3]:
csv_data = \
'''A,B,C,D
1,2,3,4
5,6,,8
10,11,12,'''

In [4]:
df = pd.read_csv(StringIO(csv_data))

In [5]:
df

    A   B     C    D
0   1   2   3.0  4.0
1   5   6   NaN  8.0
2  10  11  12.0  NaN

In [6]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [7]:
df.dropna(axis=0)

   A  B    C    D
0  1  2  3.0  4.0

In [8]:
df.dropna(axis=1)

    A   B
0   1   2
1   5   6
2  10  11

In [11]:
df.dropna(how='all')

    A   B     C    D
0   1   2   3.0  4.0
1   5   6   NaN  8.0
2  10  11  12.0  NaN

In [12]:
df.dropna(thresh=4)

   A  B    C    D
0  1  2  3.0  4.0

In [13]:
df.dropna(subset=['C'])

    A   B     C    D
0   1   2   3.0  4.0
2  10  11  12.0  NaN

In [17]:
from sklearn.impute import SimpleImputer
import numpy as np
imr = SimpleImputer(missing_values=np.nan, strategy='mean')
imr = imr.fit(df.values)
imputed_data = imr.transform(df.values)
imputed_data

array([[ 1. ,  2. ,  3. ,  4. ],
       [ 5. ,  6. ,  7.5,  8. ],
       [10. , 11. , 12. ,  6. ]])

In [18]:
df.fillna(df.mean())

    A   B     C    D
0   1   2   3.0  4.0
1   5   6   7.5  8.0
2  10  11  12.0  6.0

LogisticRegression(multi_class='ovr', penalty='l1', solver='liblinear')

NameError: name 'X_train_std' is not defined